.footer-content.bg-dark
  .info-footer
    .about-us
      h5 ACERCA DE NOSOTROS
      p Somos una instituci칩n de Educaci칩n redefinida que busca cumplir y desarrollar los sue침os de j칩venes colombianos.
    .family
      h5 FAMILIA CUNISTA
      p    
    .doubts
      h5 SI TIENES DUDAS
