nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navegationMenu', aria-controls='navegationMenu', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navegationMenu.collapse.navbar-collapse
    a.navbar-brand(href='#')
      i.fas.fa-network-wired
      |   CUN Homologaciones
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        a.nav-link(href='/sensorData/') Inicio
      if id_user
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#sensorsOpModal',) Estadisticas
        li.nav-item
          a.nav-link(href='src/discover.html') En vivo
    if !id_user
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#signModal')
            span.fas.fa-users-cog
            |  Registrate
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#signModal')
            span.fas.fa-users-cog
            |  Admin
    if id_user
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(href='src/discover.html')
            span.fas.fa-door-open
            |  Cerrar Sesion

#signModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-dialog(role='document')
     .modal-content
       .modal-header
         h5.modal-title Registro
         button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') ×
       .modal-body
         form(action='/users/sign', method='POST')
           p
             | N. Identificacion*:
             br
             input(type='text', name='id', placeholder='NIT', required='')
           p
             | Nombre*:
             br
             input(type='text', name='nombres', placeholder='Nombre', required='')
           p
             | Apellido*:
             br
             input(type='text', name='apellidos', placeholder='Apellido', required='')
           p
             | Email*:
             br
             input(type='email', name='email', placeholder='mail@mail.com')
           p
             | Telefono:
             br
             input(type='text', name='telefono', placeholder='00000')
           p
             | Institucion de Origen:
             br
             input(type='text', name='institucion_origen', placeholder='Institucion', required='')
           p
             | Programa de Origen:
             br
             input(type='text', name='programa_origen', placeholder='Programa')
           button.btn.btn-dark(type='submit') Registrarse
       .modal-footer
         button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
